<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.demo.plugin.demo"
      version="0.1.0">
    <name>Demo</name>
    <description>Sample PhoneGap Demo Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>
 
 
    <js-module src="www/Demo.js" name="Demo">
        <clobbers target="window.demo" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Demo">
                <param name="android-package" value="com.demo.plugin.demo.Demo"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Demo.java" target-dir="src/com/demo/plugin/demo" />      
     </platform>          
</plugin>